<div class="container">
  <div class="row justify-content-center m-5">
    <h1 class="text-center m-3">index de task</h1>
  </div>

  <% @tasks.each do |t| %>
   <li><%= t.title %></li>
  <% end %>
</div>
